body {
     background-image: url("./content/site.png");
     background-position: center top;
    background-size: 100% auto;

} 

.ui-accordion-content-active
{
    padding: 0 !important;
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.ui-tabs-panel {
    height: 600px;
    overflow: auto; 
}
    
.ui-button-text-only .ui-button-text {
    padding: 0.3em 1em;
    width: 200px;
}